pytest
pytest-playwright
playwright
axe-playwright-python
requests
jsonschema

langchain
langchain-ollama
langchain-community
langchain-qdrant
langgraph
langsmith

sentence-transformers

qdrant-client

deepeval
ragas

prometheus-client

mcp

python-dotenv
docling
fastembed
rank-bm25
langchain-experimental
langchain-community